*
{
	margin:0px;
	padding: 0px;
	
}
header
{
	width: 100%;
	height:100vh;
	background-image: linear-gradient(to top, rgba(30,35,38,0.8), rgba(30,35,38,1)), url(Images/khan.jpeg);
	background-repeat:no-repeat;
	background-size:cover;

}

#logo 
{
	margin-top:7px;
}
#logo span
{
	color: aqua;
	font-size:25px;
	
	
}
{
	
}
#nav
{
	background-color: rgba(30,35,38,3);
	width:100%;
	position:fixed;
	border-bottom:4px solid aqua;
	display:flex;
	justify-content:center;
	padding:5px;
	
}
#nav ul
{
	
	padding: 5px;
	
	
}
#nav ul li
{
	display:inline-block;
	font-size: 16px;
	margin-top:10px;
	
	
	
}
#nav ul li a
{
	text-decoration:none;
	color:white;
	font-weight:bold;
	transition:all 0.5s ease;
	
	
}
#nav ul li a:hover
{
	color:rgba(0,255,255,100);
	border:2px solid aqua;
	border-radius:10px;
	padding:5px;
}
.media1
{
	margin-left:150px;
}
.media1 a img:hover
{
	border:2px solid green;
	background-color:aqua;
}
.media1 a img
{
	width:15px;
	height:15px;
	padding: 5px;
	margin:5px 5px;
	border-radius:50%;
	border:2px solid white;
	transition:all 0.8s ease;
}
.home
{
	margin-left: 220px;
}
.left
{
	margin-left:20px;
}
.main
{
	width:400px;
}
.card-preg
{
	
	color:white;
	margin-top:10px;
	margin-left:30px;
	line-height:30px;
	
}
.pe1
{
	font-size:30px;
	padding-top:30px;
}
.pe1 span
{
	color:aqua;
	text-shadow:-2px -2px 20px aqua, 2px 2px 20px aqua;
	padding:10px;
	font-weight:bold;
	font-style: 'Bauhaus 93';
}
.pe2
{
	font-size:20px;
	margin-left:px;
}
.pe3
{
	font-size:20px;
}
#card 
{
	width:600px;
	height:450px;
	background-color: rgba(30,35,38,0.5);
	text-align:center;
	margin-left:380px;
	color:white;
	padding-top: 100px;
	padding-bottom: 10px;
	transition:all 0.7s ease;
	border-radius:10px;
	border:1px solid aqua;
	
	
}
#card:hover
{
	box-shadow:-2px -2px 20px aqua, 2px 2px 20px aqua;
}
#card img
{
	width:200px;
	height:200px;
	border-radius:50%;
	border:5px solid white ;
	box-shadow:-2px -2px 20px aqua, 2px 2px 20px aqua;
}

#card img:hover
{
	border:5px solid aqua;
	box-shadow:-2px -2px 20px aqua, 2px 2px 20px aqua;
}
#card h2
{
	font-size:40px;
	padding:10px;
	
}
#media img
{
	width: 30px;
	height: 30px;
	border:2px solid white;
	margin:4px;
	margin-top:20px;
	padding: 5px;
	box-shadow:-0px -0px 0px aqua, 0px 0px 0px aqua;
	
}
#media img:hover
{
		border:3px solid aqua;
		
}
.p-cv
{
	background-color:rgba(0,0,0,0.8);
}
.CV
{
	width:90%;
	justify-content:center;
	background-color:aqua;
	padding:5px;
	margin:auto;
	border-radius:10px;
	transition:all 0.4s ease;
}
.CV a
{
	text-decoration:none;
	font-size:25px;
	color:white;
	font-weight:bold;
}
.CV:hover
{
	border:3px solid lightyellow;
}
/*--About Section Start*/
#about
{
	margin-top:0px;
	background-color:lightgray;
	height:100vh;
	padding-top:100px;
	
	
}
#about h3
{
	text-align:center;
	font-size:40px;
}
 #left-side
 {
	 float:left;
	 width:500px;
	text-align:center;
 }
 #left-side img
 {
	width:400px;
    height:450px;	
	padding:0px;
	border-radius:10px;;
 }
#right-side
{
	float:right;
	width:700px;
	text-align: justify;
	padding-right:20px;
	
}
#info span
{
	font-weight:bold;
	color: rgba(29,182,152);
}
#info h1
{
	margin-top: 30px;
}
#m-info
{
	clear:both;
	text-align:center;
	padding-top: 100px;
	
	
	
}
#m-info button
{
	font-size:20px;
	padding:5px;
	box-shadow:3px 3px  7px gray, -3px -3px 7px gray;
	border-radius:10px;
	
}
#m-info button:hover
{
	background-color: aqua;
	
}
#skill
{
	
	padding:100px;
	height:100vh;
	background-image:linear-gradient(to top, rgba(30,35,38,0.7), rgba(30,35,38,1)), url(Images/khan.jpeg);
	background-repeat:no-repeat;
	background-size:cover;
	color:white;
	
}
#skill h1
{
	text-align:center;
}
#skill p
{
	padding: 2px;

	
}
#skill-skills
{
	
	background-color:Lightgray;
	color:white;
	width:100%;
	
}
#bodyp
{
	padding-top:30px;
}
.html
{
	background-color:green;
	width:90%;
	
	text-align:center;
}

.css
{
	background-color:yellow;
	width:80%;
	color:black;
	text-align:center;
}

.js
{
	background-color:red;
	width:75%;
	
	text-align:center;
}
#Videos
{
	text-align:center;
	padding:20px;
	background-color:gray;
	
}
#Videos p
{
	font-size:30px;
	padding:30px;
}
#Videos Video
{
	margin-top: 20px;
	box-shadow:2px 2px 4px white, -2px -2px -4px white;
	
}
#contact1
{
	height:100vh;
	background-repeat:no-repeat;
	background-size:cover;
	background-image: linear-gradient(to top, rgba(30,35,38,0.8), rgba(30,35,38,1)), url(Images/khan.jpeg);
}
#contact
{
	padding-top: 100px;
	width:500px;
	text-align:center;
	margin:auto;
	height:400px;
	background-color:rgba(30,35,38,0.5);
}
#contact h2
{
	color:white;
	font-size:40px;
}
#contact input
{
	width:400px;
	height: 40px;
	padding:10px;
	margin:5px;
	font-size:20px;
	border-radius:10px;
	border-right:6px solid rgba(29,182,152);
	
}
textarea
{
	width:400px;
	height:100px;
	border-radius:15px;
	border-right:6px solid rgba(29,182,152);
}
input[type="submit"]
{
	background-color:rgba(29,182,152);
	border:none;
	
}
input[type="submit"]:hover
{
	background-color:aqua;
}
#footer
{
	text-align:center;
	padding:40px;
	background-color:rgba(29,182,152);
}
#about-Us
{
	display:inline-block;
	padding:20px;
	
}
#about-Us img
{
	display:inline-block;
	width:40px;
	height:40px;
	border:2px solid white;
	border-radius:50%;
	background-color:white;
	
	
}

.hh3
{
	margin:10px;
}
#about-Us img:hover
{
	
	background-color:aqua;
}
footer
{
	font-size: 15px;
	color:white;
	font-family:Broadway;
	margin-top:30px;
	border-top:1px solid yellow;
	width:100%;
	
	
}
footer span
{
	color: yellow;
}

/* CV Page Section start */

.per-cv
{
	width:80%;
	height:auto;
	background-color:aqua;
	margin:auto;
	
	box-shadow:-2px -2px 7px gray, 2px 2px 7px gray;
}
.image
{
	justify-content:center;
	text-align:center;
	padding:20px;
}
.image img
{
	width:200px;
	height:200px;
	border-radius:50%;
	margin-top:50px;
	animation:all 0.7s ease;
	border:3px solid white;
}
.per-cv img:hover
{
	border:3px solid green;
}
.top-Address
{
	line-height:25px;
	width:400px;
	margin-left:150px;
	padding:20px;
}
h1
{
	justify-content:center;
	text-align:center;
}
.abjective
{
	width:70%;
	text-align:justify;
	justify-content:center;
	align-items:center;
	margin:auto;
	padding:20px;
	font-size:20px;
}
.abjective h2
{
	color:blue;
}

.information
{
	margin-left:160px;
	width:300px;
	padding-top:20px;
	line-height:25px;
	padding-bottom:20px;
}
.information h3
{
	line-height:50px;
}
.information span
{
	font-weight:bold;
}

.Educational
{
	width:90%;
	margin-left:150px;
	padding-top:20px;
	padding-bottom:20px;
	line-height:25px;
}
.Educational h3
{
	padding-bottom:20px;
}
.Experience
{
	margin-left:150px;
	padding-top:20px;
}
.exp1
{
	padding-top:20px;
	padding-bottom:20px;
	
}
.Qualities
{
	margin-left:150px;
	padding-top:20px;
	padding-bottom:20px;
	line-height:25px;
}

.Additional
{
	margin-left:150px;
	padding-top:20px;
	padding-bottom:20px;
}
.Additional h3
{
	
	padding-bottom:20px;
}
.Languages
{
	margin-left:150px;
	padding-top:30px;
	padding-bottom:30px;
}
.Languages h3
{
	margin-bottom:20px;
}
.Languages span
{
	color:blue;
}
table
{
	width:500px;
	height:120px;
	text-align:center;
	
	
}
table tr
{
	padding:10px;
}
.refrence
{
	display:flex;
	
	justify-content:center;
	margin:30px;
	
}
.ref1
{
	margin:30px;
}
.ref2
{
	margin:30px;
}
#about-Us
{
	border-right:2px solid yellow;
}
@media (max-width:1000px)
{
	#card
	{
	width:600px;
	height:450px;
	background-color: rgba(30,35,38,0.5);
	text-align:center;
	color:white;
	padding-top: 100px;
	padding-bottom: 10px;
	transition:all 0.7s ease;
	border-radius:10px;
	border:1px solid aqua;
	margin:50%;
		
	}
	header
	{
		display:block;
		border:2px solid red;
		height:60vh;
	}
	#nav
	{
		display:block;
		justify-content:center;
		text-align:center;
		align-items:center;
		margin:0px;
		padding:0px;
	}
	#logo
	{
		order:1;
		color:yellow;
	}
	#media1
	{
		order:2;
	}
	ul
	{
		order:3;
	}
	#about
	{
		display:block;
		justify-content:center;
		align-items:center;
		text-align:center;
		border:2px solid red;
		padding:10px;
		height:70vh
	}
	#left-side img
	{
		justify-content:center;
		align-items:center;
		border:2px solid red;
		margin-left:50%;
		width:200px;
		height:200px;
		
	}
	#right-side
	{
		
	width:700px;
	text-align: justify;
	padding:20px;
	height:auto;
	}
	#skill
	{
		height:50vh;
	}
	#contact1
	{
		height:40vh;
	}
}